{% extends 'base.html' %}

{% block content %}

<!-- <div class="page-header">
    <h4>{{heading}}</h4>
</div> -->
<div class="jumbotron jumbotron-fluid p-3">
    <img src="static\img\homepage_feast.jpg" class="img-fluid">
</div>

<div class="container-fluid">

    <div class="row px-5 py-1">
        <div class="col">
            <select class="form-control p" id="selectDietary">
                <option selected>Dietary Preference</option>
                <option>Vegan</option>
                <option>Gluten-Free</option>
                <option>Kosher</option>
                <option>Halal</option>
                <option>Vegetarian</option>
                <option>Low Carb</option>
                <option>Keto Friendly</option>
                <option>Paleo</option>
            </select>
        </div>
        <div class="col">
            <select class="form-control" id="selectSeasonal">
                <option selected>Seasonal / Cultural Options</option>
                <option>Spring Flavours</option>
                <option>Summer BBQ</option>
                <option>Autumn Harvest</option>
                <option>Winter Comforts</option>
                <option>Cultural</option>
                <option>Holidays</option>
            </select>
        </div>
        <div class="col">
            <select class="form-control" id="selectSkillLevel">
                <option selected>Skill Level Filter</option>
                <option>Beginner</option>
                <option>Intermediate</option>
                <option>Expert</option>
                <option>Foodie</option>
                <option>Chef</option>
                <option>Family Friendly</option>
            </select>
        </div>
    </div>


    {% for event in events %}
    <div class="row px-5 py-1">
        <div class="col-2">
            <img src="{{ event.image }}" class="img-fluid">
        </div>
        <div class="col-8">
            <h1>{{event.name}}</h1>
            <div class="row">
                <div class="col-2">
                    <p>Status: {{event.status}}</p>
                    <p>Location: {{event.location}}</p>
                </div>
                <div class="col-3">
                    <p>Start: {{event.startdate}}</p>
                    <p>End: {{event.enddate}}</p>
                </div>
            </div>
            <p>
                {{event.description}}
            </p>
        </div>
        <div class="col-2 justify-content-center">
            <div class="row justify-content-center my-1">
                <p><small>TICKET PRICE</small></p>
            </div>
            <div class="row justify-content-center my-1">
                <h2>${{event.ticketPrice}}</h2>
            </div>
            <div class="row justify-content-center my-1">
                <a class="btn btn-primary" href="{{ url_for('event.show', id=event.eventid) }}" role="button">View</a>
            </div>
            <div class="row justify-content-center my-1">
                <form method="POST" action="{{ url_for('auth.toggle_favorite', id=event.eventid) }}">
                        <button type="submit" class="btn btn-success text-nowrap mx-2 btn-block" role="button">Favorited</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}


