{% extends 'base.html' %}

{% block content %}

<!-- <div class="page-header">
    <h4>{{heading}}</h4>
</div> -->
<div class="jumbotron jumbotron-fluid p-3">
    <img src="static\img\homepage_feast.jpg" class="img-fluid">
</div>

<div class="container-fluid">

    <div class="row px-5 py-1">
        <div class="col">
            <div class="col">
                <form method="GET" action="{{ url_for('main.index') }}" id="filterdietForm">
                    <select class="form-control p" name="dietary" onchange="submitdietForm()">
                        <option selected>Dietary Preference</option>
                        <option>Vegan</option>
                        <option>Gluten-Free</option>
                        <option>Kosher</option>
                        <option>Halal</option>
                        <option>Vegetarian</option>
                        <option>Low Carb</option>
                        <option>Keto Friendly</option>
                        <option>Paleo</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="col">
            <form method="GET" action="{{ url_for('main.index') }}" id="filterthemeForm">
                <select class="form-control p" name="theme" onchange="submitthemeForm()">
                    <option selected>Seasonal / Cultural Options</option>
                    <option>Spring Flavours</option>
                    <option>Summer BBQ</option>
                    <option>Autumn Harvest</option>
                    <option>Winter Comforts</option>
                    <option>Cultural</option>
                    <option>Holidays</option>
                </select>
            </form>
        </div>
        <div class="col">
            <form method="GET" action="{{ url_for('main.index') }}" id="filterSLForm">
                <select class="form-control p" name="skill_level" onchange="submitSLForm()">
                    <option selected>Skill Level Filter</option>
                    <option>Beginner</option>
                    <option>Intermediate</option>
                    <option>Expert</option>
                    <option>Foodie</option>
                    <option>Chef</option>
                    <option>Family Friendly</option>
                </select>
            </form>
        </div>
    </div>


    {% for event in events %}
    <div class="px-5 py-1 justify-content-center">
        <div class="row event_bar">
            <div class="col-2">
                <img src="{{ event.image }}" class="img-fluid">
            </div>
            <div class="col-8">
                <h1>{{event.name}}</h1>
                <div class="row">
                    <div class="col-4">
                        <p class="font-weight-bold date">{{ event.startdate.strftime('%a, %d %b, %I:%M%p') }} - {{event.enddate.strftime('%a, %d %b, %I:%M%p')}}</p>
                    </div>
                    <div class="col-3">
                        <p class="font-weight-bold status">Status: {{event.status}}</p>
                    </div>
                </div>
                <div>
                    <p class="font-weight-bold">{{event.location}}</p>
                    <p>{{event.description}}</p>
                </div>
            </div>
            <div class="col-2 justify-content-center">
                <div class="row justify-content-center my-1">
                    <p><small>TICKET PRICE</small></p>
                </div>
                <div class="row justify-content-center my-1">
                    <h2>${{event.ticketPrice}}</h2>
                </div>
                <div class="row justify-content-center my-1">
                    <a class="btn btn-primary btn-block" href="{{ url_for('event.show', id=event.eventid) }}" role="button">View</a>
                </div>
                <div class="row justify-content-center my-1 Favdiv">
                    <form method="POST" class="favform justify-content-center" action="{{ url_for('auth.toggle_favorite', id=event.eventid) }}">
                        <button type="submit" class="btn btn-success text-nowrap mx-2 btn-block favbutton" role="button">Favourite</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}


