{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/events.css') }}">
{% endblock %}
{% block header %}

{% endblock %}

{% block content %}
<div class="container-fluid px-5 py-5">
    <div class="row">
        <h1>{{Event.name}}</h1>
    </div>
    <div class="row">
        <div class="col-3">
            <img src="../../{{ Event.image }}" class="img-fluid">
        </div>
        <div class="col">
            <div class="row">
                <small>TICKET PRICE</small>
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>${{Event.ticketPrice}}</h1>
                </div>
                <div class="col-1">
                    <div class="row my-1">
                        {% if Event.status =='Active' %}
                            <button class="btn btn-primary text-nowrap mx-2 btn-block" type="button" href="/{{Event.eventid}}/purchase">Purchase</button>
                        {% elif Event.status =='Limited' %}
                            <button class="btn btn-Success text-nowrap mx-2 btn-block" type="button" href="{{ url_for('event.ticket', id=event.eventid) }}">Purchase</button>
                        {% elif Event.status =='Sold Out' %}
                        <button class="btn btn-Danger text-nowrap mx-2 btn-block" type="button" disabled>Sold Out</button>
                        {% elif Event.status =='Canceled' %}
                        <button class="btn btn-info text-nowrap mx-2 btn-block" type="button"  disabled>Canceled</button>
                        {% endif %}
                    </div>
                    <div class="row my-1">
                        <form method="POST" action="{{ url_for('auth.toggle_favorite', id=Event.eventid) }}">
                            <button type="submit" class="btn btn-secondary text-nowrap mx-2 btn-block" role="button">Favourite</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <small><strong>Listed by: Anonymous</strong></small>
            </div>
            <div class="row">
                <p>
                    {{Event.description}}
                </p>
            </div>
            <div class="row">
                <div class="container-fluid px-5 py-5">
                    <div class="row">
                        <h3>Details</h3>
                    </div>
                    <div class="row">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Dietary Catering</th>
                                    <td>{{Event.Dietary}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Cultural Themes</th>
                                    <td>{{Event.Theme}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Skill Level</th>
                                    <td>{{Event.SkillLevel}}</td>
                                </tr>
                            </tbody>                
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-1">
        <h1>Comments</h1>
    </div>
    <div class="row py-1">
        <div class="col-1">
            <img src="https://via.placeholder.com/100" class=img-fluid>
        </div>
        <div class="col">
            <div class="row py-1">
                <input class="form-control" id="enterComment" placeholder="Write a comment...">
            </div>
            <div class="row py-1">
                <button class="btn btn-primary text-nowrap mx-2" type="button">Post</button>
            </div>
        </div>
    </div>
    {% for comment in Event.comments %}
    <div class="row py-1">
        <div class="col-1">
            <img src="https://via.placeholder.com/100" class=img-fluid>
        </div>
        <div class="col">
            <div class="row">
                <strong>Posted By: {{comment.user}} - {{comment.date}}</strong>
            </div>
            <div class="row">
                {{comment.text}}
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}