{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}

{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="row">
            <h2>My Events</h2>
        </div>
        {% for userevents in UserEvent %}
        <div class="row py-1">
            <div class="col-2">
                <img src="../../{{ userevents.image }}" class="img-fluid">
            </div>

            <div class="col-8">
                <h1>{{userevents.name}}</h1>
                <div class="row">
                    <div class="col-4">
                        <p class="font-weight-bold date">{{userevents.startdate.strftime('%a, %d %b, %I:%M%p')}} - {{userevents.enddate.strftime('%a, %d %b, %I:%M%p')}}</p>
                    </div>
                    <div class="col-3">
                        <p class="font-weight-bold status">Status: {{userevents.status}}</p>
                    </div>
                </div>
                <div>
                    <p>Location: {{userevents.location}}</p>
                    <p>{{userevents.description}}</p>
                </div>
                
            </div>
            <div class="col-2 justify-content-center">
                <div class="row justify-content-center my-1">
                    <p><small>TICKET PRICE</small></p>
                </div>
                <div class="row justify-content-center my-1">
                    <h2>${{userevents.ticketPrice}}</h2>
                </div>
                <i class="fa-solid fa-pen-to-square icon"></i>

            </div>
        </div>
        {% endfor %}
      </main>

{% endblock %}