{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}

{% block content %}
    <main role="main" class="px-4 container-fluid mt-3">
        <div class="row ms-auto justify-content-center">
            <div class="page-header">
                <h4>Profile</h4>
            </div>
        </div>
        <hr>
        <div class="row ms-auto Profile-content">
            <div class="row">
                <div class="col-lg-5 col-md-4">
                    <h6>Name:</h6>
                </div>
                <div class="col-lg-5 col-md-5">
                    {{ current_user.name }}
                </div>
                <div class="col-lg-2 col-md-2">
                    <i class="fa-solid fa-pen-to-square icon"></i>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-5 col-md-4">
                    <h6>Email:</h6>
                </div>
                <div class="col-lg-5 col-md-5">
                    {{ current_user.emailid }}
                </div>
                <div class="col-lg-2 col-md-2">
                    <i class="fa-solid fa-pen-to-square icon"></i>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-5 col-md-4">
                    <h6>Address:</h6>
                </div>
                <div class="col-lg-5 col-md-5">
                    {{ current_user.address }}
                </div>
                <div class="col-lg-2 col-md-2">
                    <i class="fa-solid fa-pen-to-square icon"></i>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-5 col-md-4">
                    <h6>Phone:</h6>
                </div>
                <div class="col-lg-5 col-md-5">
                    {{ current_user.phone }}
                </div>
                <div class="col-lg-2 col-md-2">
                    <i class="fa-solid fa-pen-to-square icon"></i>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-5 col-md-4">
                    <h6>Password:</h6>
                </div>
                <div class="col-lg-5 col-md-5">
                    ***********
                </div>
                <div class="col-lg-2 col-md-2">
                    <i class="fa-solid fa-pen-to-square icon"></i>
                </div>
            </div>
        </div>
    </main>

{% endblock %}